/* src/App.css */

.quote-box {
	position: absolute;
	top: 200px;
	left: 450px;
	background-color: #a79d9d;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: 50px auto;
	text-align: center;
}

#text {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

#author {
	font-size: 1.2rem;
	margin-bottom: 1.5rem;
}

button,
a {
	margin: 0.5rem;
}
